In [1]:
import numpy as np
import pandas as pd

In [2]:
np.random.seed(101)

In [7]:
df = np.random.randint(1,101,(100,5))

In [8]:
df

array([[ 16,  32,  24,  17,  96],
       [ 27,  91,  16,  95,  43],
       [ 66,  22,  35,  27,  82],
       [ 80,  30,  64,  31,  93],
       [ 99,  74,  43,  14,  28],
       [ 77,   1,  86,  69,  99],
       [ 53,  24,  15,  93,  26],
       [ 19,  17,  63,  26,  80],
       [ 86,  39,  66,  48,  51],
       [ 89,  64,  88,  15,  64],
       [ 15,  54,  69,  98,   8],
       [ 67,  62,   3,  16,  81],
       [ 48,  76,  86,  18,   9],
       [ 88,  53,  16,  94,  18],
       [ 35,  25,  24,  47,  56],
       [ 26,  65,  91,  90,  57],
       [ 88,  19,  33,  32,  75],
       [ 13,  87,  17,  51, 100],
       [ 37,  78,  91,  61,   8],
       [ 85,  86,  78,  73,  95],
       [ 35,   5,  38,  80,  43],
       [ 83,  12,  32,  67,  14],
       [ 57,  86,  67,  17,  64],
       [ 44,  47,  51,  38,  77],
       [ 96,  51,  54,   7,   2],
       [ 99,  17,  36,  22,  34],
       [ 68,  88,  45,  63,  37],
       [ 44,  89,  92,  83,  91],
       [ 12,  13,   7,  65,  16],
       [ 19,   7,  30,  12,  49],
       [ 25,  51,  54,  38,  78],
       [ 48,  70,  58,  43,  65],
       [ 85,  23,  49,  75,  19],
       [ 43,  80,  56,  66,  39],
       [ 30,  39,  84,  35,  74],
       [ 26,  21,  88,  13,  16],
       [ 91,  63,  22,  38,  39],
       [ 18,  29,  70,  13,  78],
       [ 65,  38,  66,  44,  73],
       [ 94,  69,   6,   8,  55],
       [ 74,  25,  95,  47,  38],
       [ 16,  92,  79,  73,  54],
       [ 18,  90,  16,  16,  43],
       [  7,  13,  29,  24,  77],
       [  9,  11,  42,  98,  56],
       [ 67,  96,  97,  66,  76],
       [ 84,  11,  72,  28,  57],
       [ 94,  81,  98,  71,  96],
       [ 78,  71,  92,  97,  12],
       [ 14,  95,  37,  13,  48],
       [ 61,  38,   7,   4,  83],
       [ 40,  53,  10,  64,  77],
       [ 49,  95,  59,  76,  96],
       [ 92,  25,  11,   1,  12],
       [ 37,  47,  77,   1,  55],
       [ 62,   1,  16,  81,  47],
       [ 90,  39,  16,  22,  51],
       [ 99,  47,  31,  70,  66],
       [ 94,  48,   9,  66,  64],
       [ 43,  94,  99,  32,  42],
       [ 61,  15,  48,  25,  62],
       [ 34,  26,  24,  74,  49],
       [ 79,  25,  66,  97,  36],
       [ 58,  17,   4,  58,  22],
       [ 62,  62,  41,  75,  55],
       [ 19,  49,  64,  87,  39],
       [ 97,  68,  17,  18,  39],
       [ 50,  81,  61,  72,  22],
       [ 16,   9,  57,  70,  27],
       [ 92,  64,  12,  19,   2],
       [ 24,  88,  53,  17,  32],
       [  8,  65,  42,  24,  65],
       [ 34,  89,  38,  92,  16],
       [ 42,  54,  92,   4,  80],
       [ 24,  88,  36,  54,  32],
       [  9,  96,  50,  82,  63],
       [ 88,   5,  36,  13,  94],
       [ 48,  11,  37,  63, 100],
       [ 34,  88,  55,  72,  90],
       [ 25,  69,  77,  87,  16],
       [ 25,  26,  11,  75,  75],
       [ 15,  31,  53,  30,   3],
       [ 96,  72,  34,  54,  62],
       [ 58,  72,   4,  20,  62],
       [  2,  58,  70,  52,  70],
       [ 16,  86,  38,  54,  38],
       [ 69,  14,  88,  73,  63],
       [ 73,  18,  44,  65,  48],
       [ 88,  27,  30,  51,  24],
       [ 32,  31,  97,  92,  14],
       [ 86,  79,  99,  94,  81],
       [ 51,  16,  77,  30,  64],
       [ 84,  98,  67,  62,  90],
       [ 92,   2,  14,  11,  79],
       [ 93,  91,  73,  52,  18],
       [ 77,  84,  12,  62,  36],
       [ 36,  84,  49,  59,   1],
       [ 59,  25,  24,  79,  55],
       [ 28,  28,  22,  63,  43],
       [  4,  11,  29,  22,  77]])

In [9]:
df = pd.DataFrame(np.random.randint(1,100,(100,5)),columns=[0,1,2,3,4])

In [10]:
df

     0   1   2   3   4
0   17  77  87  56  21
1   45  31  31  97  37
2   18  73  29  76  90
3   59  35  41  94  63
4   30  12  38  99  65
..  ..  ..  ..  ..  ..
95  24   7  25  19  38
96  25  81  25  26   6
97  68  99  79  31  37
98  53  17  72  85  28
99  40  21  46  20  15

[100 rows x 5 columns]

In [11]:
df.columns = list("ABCDE")

In [12]:
df

     A   B   C   D   E
0   17  77  87  56  21
1   45  31  31  97  37
2   18  73  29  76  90
3   59  35  41  94  63
4   30  12  38  99  65
..  ..  ..  ..  ..  ..
95  24   7  25  19  38
96  25  81  25  26   6
97  68  99  79  31  37
98  53  17  72  85  28
99  40  21  46  20  15

[100 rows x 5 columns]

In [14]:
ran = np.random.randint(0,100,200).reshape(50,4)

In [17]:
col = list('ABCD')

In [18]:
df = pd.DataFrame(data=ran,columns=col)

In [19]:
df

     A   B   C   D
0   25  85  62  21
1   77  68  19  66
2   70  73  49  27
3   35  33  42  33
4   93  39  64   1
5   58  17  59  71
6    1  23  80  26
7   37  34   3  77
8   20   0  62  29
9   47  48  89  49
10  17  86  47  49
11  63  31  35  56
12  83  71  72  11
13  26   2  16   0
14  50   8  79   1
15   1  42  28  90
16  35  85  23  64
17  20  21  43  37
18  89  32  66   2
19   2   0  90  90
20  56  70  53  38
21  89  30  20  20
22  46  20   9   7
23  66  17  65  69
24   7  45  18  73
25  29  69  91  52
26  91  56  49  49
27  42  14  21  15
28  33  59  10  32
29  89  52  28  46
30   9  98  71  80
31  89  82  81   8
32   7  53  64  89
33  23  88  18  83
34  67   7  57  81
35  94  89  95  72
36  80  55  55  78
37  87  74  70  83
38  89  78  65  14
39  36  16  97  46
40   2  17  23  35
41  81  25  18  69
42  21  27  63  56
43  20  94  54  84
44  67  41  65  39
45  79  55  33   6
46   4  10   7  40
47  27   6  88  77
48  15  98  79  67
49  82  34  32  21